<div class="dx-fieldset">
  <div class="dx-field">
    <div class="dx-field-label">
      Название параметра
    </div>
    <div class="dx-field-value">
      <dx-text-box
        [(value)]="parameter.name"
        [showClearButton]="true"
        [disabled]="disabled"
      >
      </dx-text-box>
    </div>
  </div>

  <div class="dx-field">
    <div class="dx-field-label">
      Минимальное значение
    </div>
    <div class="dx-field-value">
      <dx-number-box
        [min]="0"
        [max]="100"
        [showSpinButtons]="true"
        [(value)]="parameter.min"
        [disabled]="disabled"
      ></dx-number-box>
    </div>
  </div>

  <div class="dx-field">
    <dx-range-slider
      [min]="0"
      [max]="100"
      [(start)]="parameter.min"
      [(end)]="parameter.max"
      [disabled]="disabled"
    ></dx-range-slider>
  </div>

  <div class="dx-field">
    <div class="dx-field-label">
      Максимальное значение
    </div>
    <div class="dx-field-value">
      <dx-number-box
        [min]="0"
        [max]="100"
        [showSpinButtons]="true"
        [(value)]="parameter.max"
        [disabled]="disabled"
      ></dx-number-box>
    </div>
  </div>
</div>


