<ng-container *ngIf="!loadingData">
  <div class="list">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let group of groupsWithParamList">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{group.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let item of group.items | simplifiedModeFilter:simplifiedMode">
          <app-parameter
            [parameter]="item"
            [disabled]="loadIndicator">
          </app-parameter>
          <hr>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="panel">
    <div class="dx-field">
      <div class="dx-field-value">
        <dx-check-box
          [(value)]="simplifiedMode"
          [width]="200"
          text="Упрощенный режим"
        ></dx-check-box>
      </div>
    </div>

    <dx-button
      (onClick)="calculate()"
      [height]="50"
      [width]="200"
    >
      <dx-load-indicator
        class='button-indicator'
        [visible]="loadIndicator">
      </dx-load-indicator>
      <span class='dx-button-text'>
        Рассчитать
      </span>
    </dx-button>
  </div>
</ng-container>

<div
  *ngIf="loadingData"
  class="loader">
  <mat-progress-bar
    [color]="'primary'"
    [mode]="'indeterminate'">
  </mat-progress-bar>
</div>

