:host {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.button-indicator {
  height: 32px;
  width: 32px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.list {
  width: 40%;
  min-width: 500px;
}

.loader {
  width: 100%;
}

.panel {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 5%;
}
